<ul class="{% if product.handle == 'tondeuse-balls' %}balls--trimmer-listVar {% endif %}flex row-wrap align-stretch justify-left prod-bar-selector bdr-t bdr-l bdr-accent row">
  {% for variant in variants %}
  <li {% if variant.image %}
      data-variant-imageId="{{variant.image.id}}"
      {% endif %}
      class="variantIndex_{{forloop.index}} block-4/12 bdr-b bdr-r prod-bar-selector__item 
             {% if forloop.index == 2 %}prod-bar-selector__item--active{% endif %} 
             {% if forloop.index == 3 %}
             
             {% endif %}
             @mobile-mobile__block-4/12">
    <div class="wr-option-custom">
      <div class="ct cb cell-l cell-r bdr-b ">
        <span itemprop="price" content="{{ variant.price | money_without_currency }}" class="h-style h4-style">{{ variant.price | money | split:',' | first |  split:'.' | first}}</span>
      </div>
      <div class="ct cb cell-l cell-r">
        {% if forloop.index == 1 %}
        
        {% if product.metafields.content1.option1 != blank %}
        <p>{{ product.metafields.content1.option1 }}</p>
        {% endif %}
        {% if product.metafields.content2.option1 != blank %}
        <p>{{ product.metafields.content2.option1 }}</p>
        {% endif %}
        {% if product.metafields.content3.option1 != blank %}
        <p>{{ product.metafields.content3.option1 }}</p>
        {% endif %}
        
         {% if product.metafields.content4.option1 != blank %}
        <p>{{ product.metafields.content4.option1 }}</p>
        {% endif %}
        {% if product.metafields.content5.option1 != blank %}
        <p>{{ product.metafields.content5.option1 }}</p>
        {% endif %}
        
        <input class="js-prod-bar-selector__radio"  type="radio" value="{{variant.id}}" name="id">
        {% endif %}
        {% if forloop.index == 2 %}
        
        {% if product.metafields.content1.option2 != blank %}
        <p>{{ product.metafields.content1.option2 }}</p>
        {% endif %}

        {% if product.metafields.content2.option2 != blank %}
        <p>{{ product.metafields.content2.option2 }}</p>
        {% endif %}
        
        {% if product.metafields.content3.option2 != blank %}
        <p>{{ product.metafields.content3.option2 }}</p>
        {% endif %}
        {% if product.metafields.content4.option2 != blank %}
        <p>{{ product.metafields.content4.option2 }}</p>
        {% endif %}
        {% if product.metafields.content5.option2 != blank %}
        <p>{{ product.metafields.content5.option2 }}</p>
        {% endif %}


        <!--       <p>Blade Subscription</p> -->
        <input class="js-prod-bar-selector__radio cstmvid" type="radio" vid="{{variant.id}}" name="id" checked="true" value="{{variant.id}}">
        {% endif %}
        {% if forloop.index == 3 %}
        
         {% if product.metafields.content1.option3 != blank %}
        <p>{{ product.metafields.content1.option3 }}</p>
        {% endif %}

        {% if product.metafields.content2.option3 != blank %}
        <p>{{ product.metafields.content2.option3 }}</p>
        {% endif %}

        {% if product.metafields.content3.option3 != blank %}
        <p>{{ product.metafields.content3.option3 }}</p>
        {% endif %}
        
        <input class="js-prod-bar-selector__radio js-prod-bar-selector-tweezer"  type="radio" value="{{variant.id}}" name="id">
        {% endif %}

      </div>
    </div>

    {% if forloop.index == 2 %}
    <div class="save-percent">
      {% assign minPrice = variants[0].price %}
      {% assign RRP = variants[1].price %}    
      {% assign youSave = minPrice | minus:RRP %}

      <span class="yousave">Économisez {{youSave | times:100 | divided_by: minPrice | round:2}}%</span>

    </div>
    {% endif %}


  </li>
  {% endfor %}
</ul>

<div class="prod-bar-info {% if product.handle == 'balls-electric-trimmer' or product.handle == 'kit-de-demarrage-balls' or product.handle == 'tondeuse-balls' or product.handle == 'balls-starter-kit' or product.handle == 'balls-ultimate-package' or product.handle == 'le-niqueur-frais-et-parfume' or product.handle == 'le-gentleman-etait-un-serial-fucker' or product.handle == 'docteur-gentil-et-mister-male'%}bdr bdr-accent bdr-dash cell-l cell-r ct cb row flex row-wrap align-center justify-space svg-accent t-accent{% else %} cus-subscription{% endif %}">
  {% if product.handle == 'balls-electric-trimmer' or product.handle == 'kit-de-demarrage-balls' or product.handle == 'tondeuse-balls' or product.handle == 'balls-starter-kit' or product.handle == 'balls-ultimate-package' or product.handle == 'le-niqueur-frais-et-parfume' or product.handle == 'le-gentleman-etait-un-serial-fucker' or product.handle == 'docteur-gentil-et-mister-male' %}
  <span class="d-block prod-bar-info__svg">
    {% render 'svg' with 'info' %}
  </span>
  <div class="custom-text rte-content rte-content--l prod-bar-info__text">
    <p>{{ 'general.product_stock_msg' | t }}</p>
  </div>
  {% else %}
  <div class="choose-month">
    <h5>Delivers every</h5>
    <div class="wrap-radio delivery-frequency">
      <div class="delivery-radio">
        <input type="radio" id="frequency-1-month" name="qtt_frequency" value="1" >
        <label for="frequency-1-month">1 Month</label>
        <div class="check"></div>
      </div>
      <div class="delivery-radio">
        <input type="radio" id="frequency-2-months" name="qtt_frequency" value="2">
        <label for="frequency-2-months">2 Months</label>
        <div class="check"></div>
      </div>
      <div class="delivery-radio">
        <input type="radio" id="frequency-3-months" name="qtt_frequency" value="3" checked>
        <label for="frequency-3-months">3 Months</label>
        <div class="check"></div>
      </div>
    </div>
  </div>
  {% endif %}

</div>

<div "display:none;">
  <input type="hidden" name="properties[subscription_id]" value="245194" class="subscription_id">
  <input type="hidden" name="properties[shipping_interval_frequency]" value="3" class="shipping_interval_frequency">
  <input type="hidden" name="properties[shipping_interval_unit_type]" value="Months" class="shipping_interval_unit_type">
</div>

<script>
  $(function(){
    //change event for hidden radio selector
    $('.js-prod-bar-selector__radio').change(function(e){
      var $parent = $(this).closest('.prod-bar-selector__item'),
          swiperGallery = $('#prodMainGal')[0].swiper,
          variantImageId = $parent.attr('data-variant-imageId') ? $parent.attr('data-variant-imageId') : false;

      // show / hide the info box
      /*
      $parent.index() == 1 ? $('.prod-bar-info').show() : $('.prod-bar-info').hide();
      $parent.index() == 1 ? $('.rechargebttn').show() : $('.rechargebttn').hide(); 
      $parent.index() == 1 ? $('.defaultbtn').hide() : $('.defaultbtn').show();
*/

      if( $parent.index() == 1 ){
        $('.prod-bar-info').show();
        $('.rechargebttn').show();
        $('.defaultbtn').hide();
        $('input.subscription_id').attr('name','properties[subscription_id]');
        $('input.shipping_interval_frequency').attr('name','properties[shipping_interval_frequency]');
        $('input.shipping_interval_unit_type').attr('name','properties[shipping_interval_unit_type]');
      }else{
        $('.prod-bar-info').hide();
        $('.rechargebttn').hide();
        $('.defaultbtn').show();
        $('input.subscription_id').attr('name','');
        $('input.shipping_interval_frequency').attr('name','');
        $('input.shipping_interval_unit_type').attr('name','');
      }

      var variantImgId = $parent.attr('data-variant-imageId');
      //console.log(variantImgId);
      $(".product-main-images img").each(function(){
        var imageURL = $(this).attr("imgID");
        if (imageURL == variantImgId){
          var indexItem = $(this).parent().parent().parent().parent().parent().attr('data-slick-index');
          $('.product-main-images').slick('slickGoTo', indexItem, false);
          //console.log("indexItem - "+indexItem);
        }
      });

      // show / hide the tweezers slide
      $parent.index() == 2 ? $('.js-tweezer-img').show() : $('.js-tweezer-img').hide();
      // update the class
      $parent.addClass('prod-bar-selector__item--active').siblings().removeClass('prod-bar-selector__item--active');

      //update the variant image
      if(variantImageId){
        var slide = $(swiperGallery.slides).filter(function(index,slide){
          return $(slide).attr('data-imageId') == variantImageId;
        });
        slide = slide.length ? slide[0] : false;
        if(slide){
          swiperGallery.slideTo($(slide).index());
        }
      } 

      //update the secondat selector
      $('.js-sticky-atc-selector').val($(this).val());
    });

    //call it on DOM so it updates 
    $('.js-prod-bar-selector__radio').eq(1).trigger('change');

    //resize event for hidden selector
    $(window).on('resize',function(){
      if($('.js-prod-bar-selector-tweezer').is(':hidden:checked')){
        $('.js-prod-bar-selector__radio').eq(1).trigger('change');
      }    
    }.debounce(100));


  })
</script>
<style>
  {% if product.handle == 'tondeuse-balls' %}
  .balls--trimmer-listVar .variantIndex_4{
    display:none;
  }
  {% endif %}
  .wr-option-custom {
    display: block;
    height: 100%;
  }
  .prod-bar_item--active{
        color: #fff;
    background: #015db9;
  }
  .prod-bar-selector__item--active .wr-option-custom{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    background: #0e6cc9;
  }
  .prod-bar-selector .prod-bar_item--active .wr-option-custom:hover{
    background: #015db9;
  }

  .save-percent{
    display: inline-block;
    text-align: center;
    border: 2px solid #015db9;
    padding: 7px 4px;
    position: absolute;
    top: -18px;
    background: #fff;
    right: 10px;
    width: auto;
    max-width: 115px;
    font-size: .925rem;
  }
  .save-percent span{
    font-size: 13px;
    color: #015db9;
  }
  .prod-bar-selector__item--active .save-percent {
    top: -28px;
  }
  .prod-bar-selector .wr-option-custom{
    border-top: 2px solid;
    border-left: 1.5px solid;
    border-right: 1.5px solid;
    border-bottom: 1.5px solid;

  }
  .prod-bar-selector__item--active .wr-option-custom{
    border-bottom: 0 solid;
    border: unset;
  }
  .custom-border{
    border-bottom: 2px solid;
  }
  .prod-bar-selector__item .h4-style{
    font-weight: 600;
    text-align: left;
    font-size: 33px;
  }
  .prod-bar-selector__item p{
    font-size: 13px;
    font-weight: 600;
  }
  .prod-bar-selector .wr-option-custom:hover{
    background: #f8f8f8;
    /*
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    */
  }
  .prod-bar-selector__item--active .wr-option-custom:hover{
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
    background: #0e6cc9;
  }

  .save-percent {
    -webkit-animation: jiggle 0.6s infinite;
    -moz-animation-duration: 0.6s;
    -moz-animation-name: jiggle;
    -moz-animation-iteration-count: infinite;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
  }

  .prod-bar-selector__item.hide-subscription{
    display:none;
  }

  @-moz-keyframes jiggle {
    0% {
      -moz-transform: rotate(-1deg);
    }
    50% {
      -moz-transform: rotate(1deg);
    }
  }

  @-webkit-keyframes jiggle {
    0% {
      -webkit-transform: rotate(-1deg);
    }
    50% {
      -webkit-transform: rotate(1deg);
    }
  }
</style>