<div class="block-9/12 block-c ct--m cell-l cell-r cb--m @mobile-grid__block-11/12 @mobile-tablet__block-12/12">
  <meta itemprop="priceCurrency" content="{{ shop.currency }}" />
  <meta itemprop="seller" content="{{ shop.name | escape }}" />
  <meta itemprop="availability" content="{% if product.available %}in_stock{% else %}out_of_stock{% endif %}" />
  <meta itemprop="itemCondition" content="New" />
  <h1 itemprop="name" class="d-block h-style h1-style row--s"  itemprop="name" >{{product.title}}</h1>
  {%comment%}
  <div class="row">
    <span class="stamped-product-reviews-badge stamped-main-badge" 
          data-id="{{ product.id }}" 
          data-product-sku="{{ product.handle }}">{{ product.metafields.stamped.badge }}</span>
  </div>
  {%endcomment%}
  <div itemprop="description" class="rte-content rte-content--l row--m">
     {% assign short = product.description | split:'[short]' | first | split:'[/short]' | last | replace: '<short>', ''  | replace: '</short>', '' %}
      {{short}}
  </div>

  <div class="product-form12 text bold flex-apart"><p class="text-ship">Expédition Gratuite 🇫🇷<span>Emballage discret <span class="small"> </span></span></p></div>
  <hr style="border-color: #145db9;margin-bottom: 40px;">
  <form class="dk-show-form block-12/12 wbsk-cart__atc-form form-product" action="/cart/add" method="post" enctype="multipart/form-data" data-productid="{{product.id}}">
    {% if template == 'regular' %}
    <select name="id" class="block-12/12 ct cb cell-l cell-r wbsk-ui-select bdr bdr-grey row">
      {% for variant in product.variants %}
      <option value="{{variant.id}}">{{variant.title}} - {{variant.price | money }}</option>
      {% endfor %}
    </select>
    {% else %}
    {% render 'product__variant-selectors_blade' , variants:product.variants%}
    {% endif %}
     <div class="bg-accent t-white block-12/12 flex row-wrap align-stretch justify-left js-prod-sticky-atc__top-anchor defaultbtn">
      <div class="mobileqty ddd "> 
        <div class="cus-qty">
          <input type='button' value='-' class='qtyminus hidden' field='quantity' onclick="TextBox_AddToIntValue('product-quantity-{{product.id}}',-1)" />
          <input type='number' name='quantity' value='1' class='qty' id="product-quantity-{{product.id}}"/>
          <input type='button' value='+' class='qtyplus hidden' field='quantity' onclick="TextBox_AddToIntValue('product-quantity-{{product.id}}',+1)" />
        </div>
      </div>
      <!--   //Quantity Selector   -->   
      <button class="btn btn--accent block-10/12">
        <span>{{'general.add_to_cart' | t}}</span>
      </button>
    </div>
    <div class="bg-accent t-white block-12/12 flex row-wrap align-stretch justify-left js-prod-sticky-atc__top-anchor rechargebttn rechdesktop mobile-hide">
      <div class="mobileqty"> 
        <div class="cus-qty">
          <input type='button' value='-' class='qtyminus hidden' field='quantity' onclick="TextBox_AddToIntValue('product-quantity-{{product.id}}',-1)" />
          <input type='number' name='quantity' value='1' class='qty' id="product-quantity-{{product.id}}"/>
          <input type='button' value='+' class='qtyplus hidden' field='quantity' onclick="TextBox_AddToIntValue('product-quantity-{{product.id}}',+1)" />
        </div>
      </div>
      <!--   //Quantity Selector   -->   
      <button class="btn btn--accent block-10/12 cstmatcbtn">
        <span>{{'general.add_to_cart' | t}}</span>
      </button>
    </div>
    <div class="bg-accent t-white block-12/12 flex row-wrap align-stretch justify-left js-prod-sticky-atc__top-anchor rechargebttn rechmobile dsktop-hide">
      <div class="mobileqty"> 
        <div class="cus-qty">
          <input type='button' value='-' class='qtyminus hidden' field='quantity' onclick="TextBox_AddToIntValue('product-quantity-{{product.id}}',-1)" />
          <input type='number' name='quantity' value='1' class='qty' id="product-quantity-{{product.id}}"/>
          <input type='button' value='+' class='qtyplus hidden' field='quantity' onclick="TextBox_AddToIntValue('product-quantity-{{product.id}}',+1)" />
        </div>
      </div>
      <button class="btn btn--accent block-10/12 cstmatcbtn">
        <span>{{'general.add_to_cart' | t}}</span>
      </button>
    </div>
  </form>
  
</div>
<style>
  .form-product .btn.btn--accent{
    width: 70%;
    max-width: 100%;
  }
  .form-product .bg-accent .mobileqty .qty {
    max-width: 50px;
    text-align: center;
    background: #015db9;
    color: #fff;
    font-size: 16px;
    border: none;

  }
  .qtyminus,
  .qtyplus{
    max-width: 25px;
    font-size: 16px;
    text-align: center;
    background: #015db9;
    color: #fff;
    border: none;
  }
  .qtyminus:focus,
  .qtyplus:focus,
  .bg-accent .mobileqty .qty:focus{
    outline: none;
    box-shadow: none;
    border: none;

  }
 
  .form-product .bg-accent .mobileqty{
    max-width: 100%;
    background: #015db9;
    width: 15%;
    border-right: 1px solid #fff;
    float: left;
  }
  .form-product .bg-accent .mobileqty .cus-qty{
    max-width: 100%;
    display: inline-flex;
    background: #015db9;
    color: #fff;
    padding-left: 5px;
    height: 60px;
  }
  .form-product .bg-accent .mobileqty .qty {
    max-width: 100%;
   
    text-align: center;
    background: #015db9;
    color: #fff;
    font-size: 16px;
    border: none;

  }
  .form-product .btn.btn--accent{
    width: 85%;
    max-width: 100%;
  }
  .form-product .qtyminus,
  .qtyplus{
    max-width: 30%;
    font-size: 16px;
    text-align: center;
    background: #015db9;
    color: #fff;
    border: none;
  }
  .qtyminus:focus,
  .qtyplus:focus,
  .form-product .bg-accent .mobileqty .qty:focus{
    outline: none;
    box-shadow: none;
    border: none;

  }
.form-product .hidden {
    display: none !important;
}
  @media screen and (max-width: 1199px) {
    .form-product .bg-accent .mobileqty{
      width: 18%;
    }
    .form-product .btn.btn--accent {
      width: 82%;
    }
  } 
  @media screen and (max-width: 1024px) {
    .form-product .bg-accent .mobileqty{
      width: 10%;
    }
    .form-product .btn.btn--accent {
      width: 90%;
    }
  } 
  @media screen and (max-width: 767px) {
    .form-product .bg-accent .mobileqty{
      width: 12%;
    }
    .form-product .btn.btn--accent {
      width: 88%;
    }
  } 
  @media screen and (max-width: 639px) {
    .form-product .bg-accent .mobileqty{
      width: 15%;
    }
    .form-product .btn.btn--accent {
      width: 85%;
    }
  } 
  @media screen and (max-width: 639px) {
    .form-product .bg-accent .mobileqty{
      width: 18%;
    }
    .form-product .btn.btn--accent {
      width: 82%;
    }
  }
  @media screen and (max-width: 479px) {
   /* .form-product .bg-accent .mobileqty .qty{
      font-size: 14px;
    }
    .form-product .bg-accent .mobileqty .qty {
      max-width: 30%;
    }
    .form-product .qtyminus, .qtyplus{
      max-width: 35%;
    }8/
  }



</style>

<script>
  jQuery(document).ready(function(){
    
    $("input[name='quantity']").keyup(function(){
      console.log($(this).val());
      $("input[name='quantity']").val($(this).val());
    });
    
    // This button will increment the value
    $('.qtyplus').click(function(e){
      // Stop acting like a button
      e.preventDefault();
      // Get the field name
      fieldName = $(this).attr('field');
      // Get its current value
      var currentVal = parseInt($('input[name='+fieldName+']').val());
      // If is not undefined
      if (!isNaN(currentVal)) {
        // Increment
        $('input[name='+fieldName+']').val(currentVal + 1);
      } else {
        // Otherwise put a 0 there
        $('input[name='+fieldName+']').val(0);
      }
    });
    // This button will decrement the value till 0
    $(".qtyminus").click(function(e) {
      // Stop acting like a button
      e.preventDefault();
      // Get the field name
      fieldName = $(this).attr('field');
      // Get its current value
      var currentVal = parseInt($('input[name='+fieldName+']').val());
      // If it isn't undefined or its greater than 0
      if (!isNaN(currentVal) && currentVal > 0) {
        // Decrement one
        $('input[name='+fieldName+']').val(currentVal - 1);
      } else {
        // Otherwise put a 0 there
        $('input[name='+fieldName+']').val(0);
      }
    });
  });
</script>



<style>
  .rechmobile.dsktop-hide{
    margin-left: 20px;
    margin-right: 20px;
  }
  .wr-product-main.blade .defaultbtn{display: none !important;}

  .wr-product-main.blade .rechdesktop.mobile-hide {
    display: block !important;
  }
  @media (min-width:768px)  {.dsktop-hide{display:none !important; display: inline-flex;}  }
  @media (max-width:767px)  {.defaultbtn {display:none !important;} 
    .rechdesktop.mobile-hide{display: none !important;}
    .wr-product-main.blade .rechdesktop.mobile-hide {
      display: none!important;
    }
    .rechmobile.dsktop-hide {
      margin-left: 0;
      margin-right: 0;
    }
    .wr-product-main.blade .dsktop-hide{display: block !important;}
  }
</style>