<div class="grid grid--f flex row-wrap align-center justify-center wbsk-ui-form-grey-input wbsk-ui-form-hidden-label">
  <div class="block-6/12 ct--l cb--l cell-l cell-r @mobile-large__block-10/12 @mobile-tablet__block-12/12">
    <div class="block-c tac row--m">
      <h1 class="h-style h1-style t-accent">{{'customer.reset.heading' | t}}</h1>
    </div>
    {% form 'reset_customer_password' , class:"block-12/12" %}
    {%if form.errors%}
    <div class="block-12/12 row">
      {{ form.errors | default_errors }}
    </div>
    {%endif%}
    <div class="block-12/12 row--s">
      <label  class="row--xs">{{'customer.addresses.password' | t}}:</label>
      <input type="password" value="" name="customer[password]" id="CustomerPassword" class="wbsk-ui-input row--xs block-12/12 {% if form.errors contains 'password' %} error{% endif %}" placeholder="{{'customer.addresses.password' | t}}" autocomplete="off" required>
    </div>
    <div class="block-12/12 row">
      <label  class="row--xs">{{'customer.addresses.confirm_password' | t}}:</label>
      <input type="password" value="" name="customer[password_confirmation]" id="CustomerPassword" class="wbsk-ui-input row--xs block-12/12 {% if form.errors contains 'password' %} error{% endif %}" placeholder="{{'customer.addresses.confirm_password' | t}}" autocomplete="off" required>
    </div>
    <div class="block-12/12  row">
      <button class="btn btn--accent block-12/12">{{'general.submit' | t}}</button>
    </div>
    {%endform%}
  </div>
</div>