<!doctype html>
<html lang="fr" {% if template contains 'article' %}itemscope itemtype="https://schema.org/FAQPage"{% endif %}>
    <head>

        <style class="critical3">@media only screen and (min-width:1024px){li.prod-bar-selector__item:not(.prod-bar-selector__item--active) .extra-info.wr-des,li.prod-bar-selector__item:not(.prod-bar-selector__item--active) .js-prod-sticky-atc__top-anchor.defaultbtn{display:none}header .Sticky-Head{min-height:100px;max-height:100px}#shopify-section-Section-Product-Featured{min-height:34vw}#shopify-section-index__slideshow #index__slideshow{min-height:39vw}#shopify-section-collection-template #collection-template .hero-banner,#shopify-section-collection-template #collection-template .hero-banner #desk_ban{min-height:28.392vw}}@media only screen and (max-width:550px){#shopify-section-index__slideshow #index__slideshow{min-height:125vw}#shopify-section-collection-template #collection-template .hero-banner{min-height:129vw}#shopify-section-collection-template #collection-template .hero-banner #mob_ban{min-height:70vw}#shopify-section-Section-Product-Featured .section-product-featured .home-Pdp-img .swiper.mySwiper2:not(.swiper-container-horizontal){min-height:85vw}}</style>
        <!-- Google Tag Manager -->
        <script type="lazyload2">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                                                            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
                                    })(window,document,'script','dataLayer','GTM-TQCJD8N');
        </script>
        <!-- End Google Tag Manager -->  
        <script type="lazyload2">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
            t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
            y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script", "cok4scurp2");
        </script>
        <!-- hnk portfolio proof -->
        <meta name="google-site-verification" content="zde64ekc_bMyxX58hCjIBt6bkVRvZmOYckLnQStBmEU" />
        <script type="lazyload2">
        (function(g,e,o,t,a,r,ge,tl,y,s){
            g.getElementsByTagName(o)[0].insertAdjacentHTML('afterbegin','<style id="georedirect1580227723633style">body{opacity:0.0 !important;}</style>');
            s=function(){g.getElementById('georedirect1580227723633style').innerHTML='body{opacity:1.0 !important;}';};
            t=g.getElementsByTagName(o)[0];y=g.createElement(e);y.async=true;
            y.src='https://g792337342.co/gr?id=-LzguN1Cn0q6BS3goy84&refurl='+g.referrer+'&winurl='+encodeURIComponent(window.location);
            t.parentNode.insertBefore(y,t);y.onerror=function(){s()};
            georedirect1580227723633loaded=function(redirect){var to=0;if(redirect){to=5000};
                                                            setTimeout(function(){s();},to)};
        })(document,'script','head');
        </script>
<!-- Begin: Northbeam pixel -->
<script async type="text/javascript" src="//j.northbeam.io/ota-sp/909c36b9-0553-451b-a91e-2da9ce41bc08.js"></script>
<!-- End: Northbeam pixel -->

        <!-- Hiding a pages from search engines  -->
        {% if collection.handle == 'frontpage' %}
            <meta name="robots" content="noindex">
        {% endif %}
        {% if collection.handle == 'all' %}
            <meta name="robots" content="noindex">
        {% endif %}
        <!-- Hiding a page from search engines End -->
        <meta name=“facebook-domain-verification” content="x5exe96tgdd3naizbdj9wviop5npk3" />
        <!-- Pinterest Verify Tag -->
        <meta name="p:domain_verify" content="09ac58c2ec4fc8f896784363f2d84f0d"/>
        <!-- EndPinterest Verify Tag -->
        <!-- Pinterest Tag -->
        <script type="lazyload2">
        !function(e){if(!window.pintrk){window.pintrk = function () {
            window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var
            n=window.pintrk;n.queue=[],n.version="3.0";var
            t=document.createElement("script");t.async=!0,t.src=e;var
            r=document.getElementsByTagName("script")[0];
                                        r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js");
        pintrk('load', '2612545937533', {em: '<user_email_address>'});
        pintrk('page');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?event=init&tid=2612545937533&pd[em]=<hashed_email_address>&noscript=1" />
        </noscript>
        <!-- end Pinterest Tag -->
        <!-- Basic page needs ================================================== -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
        <!-- Title and description ================================================== -->
        <title>
            {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %}{% endif %}{% if current_page != 1 %} &ndash;{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
        </title>
        {% if page_description %}
            <meta name="description" content="{{ page_description | escape }}">
        {% endif %}
        <!-- Mobile Specific Metas -->
        <meta name="HandheldFriendly" content="True">
        <meta name="MobileOptimized" content="320">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- Helpers ================================================== -->
        {% render 'social-meta' %}
        <link rel="canonical" href="{{ canonical_url }}">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta name="theme-color" content="{{ settings.color_primary }}">
        {% render 'all-css' %}
        <link rel="stylesheet" data-href="{{ 'wbsk-style.scss.css' | asset_url |}}">
        <!-- font ================================================== -->
        {% if request.path contains '/tools/recurring/portal' or request.path contains '/account/orders' or template == 'customers/account' %}
            <link href="{{ '_recharge.scss.css' | asset_url }}" rel="stylesheet">
        {% endif %}
        {%- if request.design_mode or template contains 'cart' or template contains 'checkout' -%}
            {{ content_for_header }}
        {%- else -%}
            {% capture content_for_header2 %}{{ content_for_header }}{% endcapture %}
            {{ content_for_header2 | replace: ' defer="defer" ', ' type="lazyload2" ' | replace: " src=", " data-src=" | replace: "window.addEventListener('load', asyncLoad, false);", "window.addEventListener('wnw_load', asyncLoad, false);" | replace: "DOMContentLoaded", "DOMContentLoaded2" }}
            <script>var trekkie=[];trekkie.integrations=!0;</script>
        {%- endif -%}
        {% render 'jquery-min' %}
        <!-- <script src="https://code.jquery.com/jquery-latest.min.js"></script> -->
        <script type="lazyload2" data-src="{{ 'wbsk-compiled.js' | asset_url }}"></script>
        <script type="lazyload2" data-src="{{ 'wbsk-ui.js' | asset_url }}"></script>
        <!-- Start of Littledata - Fix Google Analytics Script-->
        {% include 'LittledataLayer' %}
        <!-- End of Littledata - Fix Google Analytics Script -->
        <link rel="stylesheet" data-href="{{ 'custom-style.css' | asset_url }}">
        <link rel="stylesheet" data-href="{{ 'slick.css' | asset_url |}}">
        <script type="lazyload2" data-src="{{ 'slick.js' | asset_url }}"></script>
        <link rel="stylesheet" data-href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" data-href="https://cdn.shopify.com/s/files/1/0243/7772/0909/t/25/assets/font.css?v=8027530115922297280">
        <style class="critical2">.product-images .product-thumb:not(.slick-slider){bottom:44px}.product-images .product-thumb:not(.slick-slider) .thumb-item{width:58px;height:58px;margin:0 auto 8px}.faq-heading::after{background-image:url(//cdn.shopify.com/s/files/1/0368/1281/6524/t/21/assets/faq-heading-icon.svg?v=24993291640888641271660654049)}.wr-product-main .wbsk-cart__atc-form.form-product .defaultbtn{display:none!important}.wr-product-main .stamped-product-reviews-badge.stamped-main-badge{min-height:20px!important;display:block}@media only screen and (max-width:767px){#shopify-section-Section-Product-Featured .section-product-featured .home-Pdp-img .swiper.mySwiper-thumb:not(.swiper-container-thumbs) .swiper-wrapper .swiper-slide{width:18.731%;margin-right:10px}.product-images .product-main-images:not(.slick-slider) .slide:nth-child(n+2){display:none!important}}</style>
    </head>
    <body class="{% if request.path contains '/tools/recurring/portal' or request.path contains '/account/orders' or template == 'customers/account' %}body-recharge-template{% endif %}">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-TQCJD8N"
                        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->
        {% include 'header' mh-class:mh-class %}
        {% render 'sidebar-menu' %}
        {% unless template == 'cart' %}
            {% render 'sidebar-cart' %}
        {% endunless %}
        <button style="display:none;" id="btn_popup_form" onclick="KlaviyoSubscribe.attachToModalForm('#UQCyLs',{delay_seconds: 0.01, hide_form_on_success: true, ignore_cookie: true, success_message: false});">Popup Form</button>
        <main class="{% if request.path contains '/tools/recurring/portal' or request.path contains '/account/orders' or template == 'customers/account' %}recharge-template{% if template == 'customers/account' %} visible-hide{% endif %}{% endif %}">
            {{ content_for_layout }}
        </main>
        {%section 'footer-new-design'%}
        <script data-src="{{ 'wbsk-cart.js' | asset_url }}" type="lazyload2"></script>
        <script data-src="{{ 'wbsk-app.js' | asset_url }}" type="lazyload2"></script>
        <!-- Begin ReCharge code -->
        {% render 'subscription-theme-footer' %}
        <!-- End ReCharge code -->
        <script type="lazyload2" data-src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=SBLGEe"></script>
        {% comment %} Instructions on using the code. Firstly, all the code can be pasted into an empty section at the bottom of your template.liquid file. Secondly, in the line below, where it shows google_conversion_id = 0, delete the 0 and add your conversion id (found in AdWords) {% endcomment %}
        {% assign google_conversion_id = 710748312 %}
        {% assign shopify_store_country  = 'US' %}
        {% if shop.currency == 'CAD' %}
            {% assign shopify_store_country  = 'CA' %}
        {% elsif shop.currency == 'GBP' %}
            {% assign shopify_store_country = 'GB' %}
        {% endif %}
        <script type="lazyload2">
            {% if template contains 'cart' %}
                var google_tag_params = {
                    ecomm_prodid: [{% for item in cart.items %}'FR_{{ item.product.id }}_{{ item.variant.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
                    ecomm_pagetype: 'cart',
                    ecomm_totalvalue: {{ cart.total_price | money_without_currency  | remove: ','  }}
                };
            {% elsif template contains 'collection' %}
                var google_tag_params = {
                    ecomm_prodid: [{% for item in collection.products limit:5 %}'FR_{{ item.id }}_{{ item.variants.first.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
                    ecomm_pagetype: 'category',
                    ecomm_category: '{{ collection.handle }}'
                };

            {% elsif template contains 'index' %}
                var google_tag_params = {
                    ecomm_pagetype: 'home'
                };
            {% elsif template contains 'product' %}
                var google_tag_params = {
                    ecomm_prodid: 'FR_{{ product.id }}_{{ product.selected_or_first_available_variant.id }}',
                    ecomm_pagetype: 'product',
                    ecomm_totalvalue: {{ product.selected_or_first_available_variant.price | money_without_currency  | remove: ','  }}
                };
            {% elsif template contains 'search' %}
                var google_tag_params = {
                    ecomm_prodid: [{% for item in search.results limit:5 %}'FR_{{ item.id }}_{{ item.variants.first.id }}'{% unless forloop.last %}, {% endunless %}{% endfor %}],
                    ecomm_pagetype: 'searchresults'
                };
            {% else %}
                var google_tag_params = {
                    ecomm_pagetype: 'other'
                };
            {% endif %}
            /* <![CDATA[ */
            var google_conversion_id = {{ google_conversion_id }};
            var google_custom_params = window.google_tag_params;
            var google_remarketing_only = true;
            /* ]]> */
        </script>
        <script type="lazyload2" data-src="//www.googleadservices.com/pagead/conversion.js"></script>
        <noscript>
            <div style="display:inline;">
                <img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/{{ google_conversion_id }}/?value=0&amp;guid=ON&amp;script=0"/>
            </div>
        </noscript>
        <style>#slidecarthq{}</style>
        <!-- Restyle rechart page__customers -->
        <style>#ReCharge #content__customers__request-invite #customer_tab_content{margin-bottom:55px}#ReCharge #content__customers__request-invite #customer_tab_content .col-md-6{width:100%;flex:0 0 100%;max-width:100%}#ReCharge #content__customers__request-invite #customer_tab_content .rc_header-settings.rc_title-bar{margin-top:40px}#ReCharge #content__customers__request-invite #customer_tab_content .col-md-6 p,#ReCharge #content__customers__request-invite #customer_tab_content .rc_header-settings.rc_title-bar p{font-size:16px}footer .rte-content,footer a{font-size:16px;line-height:1}footer .\@mobile-mobile__show{display:none}.row+.row{margin-top:0;margin-left:0;margin-right:0}footer .row{margin-top:0;margin-bottom:20px}#shopify-section-footer__newsletter .h2-style{font-size:28px}#shopify-section-footer__newsletter form{width:100%}#shopify-section-footer__newsletter button,#shopify-section-footer__newsletter input{font-size:14px}@media screen and (max-width:767px){#shopify-section-footer__newsletter .h2-style{font-size:20px}#shopify-section-footer__newsletter .row{margin:0 0 20px}footer .\@mobile-mobile__show{display:block}footer .\@mobile-mobile__hide,footer .\@mobile-mobile__hide-br br{display:none}}</style>
        <style>#UQCyLs.klaviyo_modal{background:0 0!important}#UQCyLs.klaviyo_modal .klaviyo_inner{width:100%;max-width:600px;left:50%;top:10%;display:block;margin:0 auto;-webkit-transform:translate(-50%,0);-moz-transform:translate(-50%,0);-o-transform:translate(-50%,0);-ms-transform:translate(-50%,0);transform:translate(-50%,0);height:auto;max-height:100%;padding:0}#UQCyLs.klaviyo_modal form{max-height:100%}#UQCyLs.klaviyo_modal img{width:100%;margin:0 auto}#UQCyLs.klaviyo_modal form div[data-testid=form-row] div.needsclick{padding-left:0;padding-right:0;width:100%;max-width:400px;margin-left:auto;margin-right:auto}#UQCyLs.klaviyo_modal form div[data-testid=form-row]:first-child div.needsclick{max-width:100%}#UQCyLs.klaviyo_modal a.klaviyo_close_modal.klaviyo_header_close{cursor:pointer}</style>
        <script type="lazyload2">
            function setCookie(name,value,days) {
                var expires = "";
                if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days*24*60*60*1000));
                expires = "; expires=" + date.toUTCString();
                }
                document.cookie = name + "=" + (value || "")  + expires + "; path=/";
            }
            function getCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for(var i=0;i < ca.length;i++) {
                var c = ca[i];
                while (c.charAt(0)==' ') c = c.substring(1,c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
                }
                return null;
            }
            function deleteCookie(name) {   
                document.cookie = name +'=; Path=/; Expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            }
            var gg_optimize = false;
            setTimeout(function(){ 
                console.log(gg_optimize);
                if(!gg_optimize){
                var exist_popup = getCookie('popupNewsletter');
                console.log(exist_popup);
                if (exist_popup == null) {
                    $("#btn_popup_form").click();
                    console.log("Click Popup");
                    setCookie('popupNewsletter','expires_14_days',14);
                }
                }
            }, 8000);
            window.addEventListener("klaviyoForms", function(e) { 
                if (e.detail.type == 'open') {
                console.log('Klaviyo Popup - LTQ'); 
                }
            });         
            $('button.cstmatcbtn').on('click', function (event) {
                var product_id = $(this).closest('form').data('productid');
                var product_name = $(this).closest('form').data('productname');
                var product_price = $(this).closest('form').data('productprice');
                var variant_id = $(this).closest('form').data('variantid');
                var metadata = {"product_id":product_id,"product_name":product_name,"product_price":product_price,"variant_id":variant_id};
                metadata = JSON.stringify(metadata);
                window.Northbeam.fireCustomGoal("add_to_cart",metadata);
            });
            document.querySelector('#shave_off').addEventListener('click', function (){
                var _klOnsite = window._klOnsite || []; _klOnsite.push(['openForm', 'UQCyLs']);
            });
        </script>
        <script>
        	var site_nav_link_burger = true;
        	jQuery(document).ready(function() {
        		jQuery(".mh__mob-toggle").click(function() {
        			if(site_nav_link_burger) {
        				event.preventDefault();
        				site_nav_link_burger = false;
        			}
        		});
        	})
        </script>
        {{ 'wnw-optimization.js' | asset_url | script_tag }}
    </body>
</html>