
<section class="home-ticker ticker container-fluid" id="PDP-Skinny-Carousel">
  <div class="swiper-container swiper-container--review-heading" id="Ticker-Slider">
    <div class="swiper-wrapper ticker__inner">
      {% for block in section.blocks %}
      <p class="swiper-slide tac ticker__text d-flex align-items-center">
        <span class="ticker__check">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                          height: 22px;" xml:space="preserve">
            <g>
              <g id="check_x5F_alt">
                <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                            L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
              </g>
            </g>

          </svg>

        </span>
        {{block.settings.text}}
      </p>
      {% endfor %}
      {% for block in section.blocks %}
      <p class="swiper-slide tac ticker__text d-flex align-items-center">
        <span class="ticker__check">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                          height: 22px;" xml:space="preserve">
            <g>
              <g id="check_x5F_alt">
                <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                            L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
              </g>
            </g>

          </svg>

        </span>
        {{block.settings.text}}
      </p>
      {% endfor %}
      {% for block in section.blocks %}
      <p class="swiper-slide tac ticker__text d-flex align-items-center">
        <span class="ticker__check">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                          height: 22px;" xml:space="preserve">
            <g>
              <g id="check_x5F_alt">
                <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                            L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
              </g>
            </g>

          </svg>

        </span>
        {{block.settings.text}}
      </p>
      {% endfor %}
      {% for block in section.blocks %}
      <p class="swiper-slide tac ticker__text d-flex align-items-center">
        <span class="ticker__check">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                          height: 22px;" xml:space="preserve">
            <g>
              <g id="check_x5F_alt">
                <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                            L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
              </g>
            </g>

          </svg>

        </span>
        {{block.settings.text}}
      </p>
      {% endfor %}
      {% for block in section.blocks %}
      <p class="swiper-slide tac ticker__text d-flex align-items-center">
        <span class="ticker__check">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                          height: 22px;" xml:space="preserve">
            <g>
              <g id="check_x5F_alt">
                <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                            L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
              </g>
            </g>

          </svg>

        </span>
        {{block.settings.text}}
      </p>
      {% endfor %}
      {% for block in section.blocks %}
      <p class="swiper-slide tac ticker__text d-flex align-items-center">
        <span class="ticker__check">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                          height: 22px;" xml:space="preserve">
            <g>
              <g id="check_x5F_alt">
                <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                            L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
              </g>
            </g>

          </svg>

        </span>
        {{block.settings.text}}
      </p>
      {% endfor %}
      {% for block in section.blocks %}
      <p class="swiper-slide tac ticker__text d-flex align-items-center">
        <span class="ticker__check">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                          height: 22px;" xml:space="preserve">
            <g>
              <g id="check_x5F_alt">
                <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                            L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
              </g>
            </g>

          </svg>

        </span>
        {{block.settings.text}}
      </p>
      {% endfor %}
      {% for block in section.blocks %}
      <p class="swiper-slide tac ticker__text d-flex align-items-center">
        <span class="ticker__check">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                          height: 22px;" xml:space="preserve">
            <g>
              <g id="check_x5F_alt">
                <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                            L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
              </g>
            </g>

          </svg>

        </span>
        {{block.settings.text}}
      </p>
      {% endfor %}
      {% for block in section.blocks %}
      <p class="swiper-slide tac ticker__text d-flex align-items-center">
        <span class="ticker__check">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                          height: 22px;" xml:space="preserve">
            <g>
              <g id="check_x5F_alt">
                <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                            L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
              </g>
            </g>

          </svg>

        </span>
        {{block.settings.text}}
      </p>
      {% endfor %}
      {% for block in section.blocks %}
      <p class="swiper-slide tac ticker__text d-flex align-items-center">
        <span class="ticker__check">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                          height: 22px;" xml:space="preserve">
            <g>
              <g id="check_x5F_alt">
                <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                            L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
              </g>
            </g>

          </svg>

        </span>
        {{block.settings.text}}
      </p>
      {% endfor %}
      {% for block in section.blocks %}
      <p class="swiper-slide tac ticker__text d-flex align-items-center">
        <span class="ticker__check">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                          height: 22px;" xml:space="preserve">
            <g>
              <g id="check_x5F_alt">
                <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                            L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
              </g>
            </g>

          </svg>

        </span>
        {{block.settings.text}}
      </p>
      {% endfor %}
      {% for block in section.blocks %}
      <p class="swiper-slide tac ticker__text d-flex align-items-center">
        <span class="ticker__check">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                          height: 22px;" xml:space="preserve">
            <g>
              <g id="check_x5F_alt">
                <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                            L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
              </g>
            </g>

          </svg>

        </span>
        {{block.settings.text}}
      </p>
      {% endfor %}
      {% for block in section.blocks %}
      <p class="swiper-slide tac ticker__text d-flex align-items-center">
        <span class="ticker__check">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                          height: 22px;" xml:space="preserve">
            <g>
              <g id="check_x5F_alt">
                <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                            L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
              </g>
            </g>

          </svg>

        </span>
        {{block.settings.text}}
      </p>
      {% endfor %}
    </div>
  </div>

  {% comment %}
  <div class="ticker__inner d-flex flex-nowrap justify-content-center">
    {% for block in section.blocks %}
    <p class="ticker__text d-flex align-items-center">
      <span class="ticker__check">
        <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                        height: 22px;" xml:space="preserve">
          <g>
            <g id="check_x5F_alt">
              <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                          L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
            </g>
          </g>

        </svg>

      </span>
      {{block.settings.text}}
    </p>
    {% endfor %}
    {% for block in section.blocks %}
    <p class="ticker__text d-flex align-items-center">
      <span class="ticker__check">
        <svg  version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
             viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;    width: 22px;
                                        height: 22px;" xml:space="preserve">
          <g>
            <g id="check_x5F_alt">
              <path style="fill:#fff;" d="M16,0C7.164,0,0,7.164,0,16s7.164,16,16,16s16-7.164,16-16S24.836,0,16,0z M13.52,23.383
                                          L6.158,16.02l2.828-2.828l4.533,4.535l9.617-9.617l2.828,2.828L13.52,23.383z"/>
            </g>
          </g>

        </svg>

      </span>
      {{block.settings.text}}
    </p>
    {% endfor %}
  </div>
  {% endcomment %}
</section>
<style>
  #PDP-Skinny-Carousel {
    background-color: #2260ad;
    color: #ffffff;
    position: relative;
    height: 50px;
    padding: 13px 0px;
    width: 100%;
  }
  /*
  #PDP-Skinny-Carousel .ticker__inner {
    animation-duration: 20s;
    width: 200%;
  }*/
  /*.home-ticker .ticker__inner {
  position: absolute;
  white-space: nowrap;
  -webkit-animation: marquee;
  animation: marquee;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  }*/
  .home-ticker .ticker__inner .ticker__text {
    width: auto!important;
    text-align: center;
    margin: 0 25px;
    font-size: 20px;
  }
  #PDP-Skinny-Carousel .ticker__inner .ticker__check {
    margin-right: 7px;
  }
  p.ticker__text {
    white-space: nowrap;
  }

  @media only screen and (max-width: 639px) {
    .home-ticker .ticker__inner .ticker__text {
      font-size: 16px;
      width: auto!important;
    }
    

  }

  /*
  @-webkit-keyframes marquee{0%{transform:translateX(0)}to{transform:translateX(-50%)}}
  @keyframes marquee{0%{transform:translateX(0)}to{transform:translateX(-50%)}}

  @media only screen and (max-width: 767px) {

  #PDP-Skinny-Carousel .ticker__inner {
  animation-duration: 5s;
  }

  }*/
</style>

<script>
  $(function(){
    $('#Ticker-Slider').wbskSwiper({
      slidesPerView: 7,
      loop:true,
      spaceBetween:0,
      resizeReInit: true,
      freeMode:true,
      autoplay: {delay: .0000000001, },
      speed:5000,
      simulateTouch: false,
      breakpoints: {
        1666: {
          slidesPerView:5,
        },
        1366: {
          slidesPerView:5,
        },
        767: {
          slidesPerView:3,
        },
        512: {
          slidesPerView:2,
          autoplay: {delay: .02, }
        }
      }

    })
  })

  $(window).on('resize',function(){
    var swiper = $('#Ticker-Slider').data('wbskSwiper').swiper,
        swiperContentWidth = $('.js-review-slider-content').width(),
        swiperSlideWidth = $('#Ticker-Slider .swiper-slide').width()

    swiper.slideTo(0,0,false)
    swiper.autoplay.start()
  }.debounce(20))

</script>


{% schema %}
{ 

"name":"PDP Skinny Carousel",
"max_blocks":5,

"blocks":[ 
{ 
"type":"block",
"name":"block",
"settings":[ 

{ 
"type":"text",
"id":"text",
"label":"text"
}
]
}
]
}
{% endschema %}
