{% assign block = section.settings %}
{% assign featuredProduct = false %}
{% for product in collections.all.products %}
{% if product.handle == block.product %}
{% assign featuredProduct = product %}
{% break %}
{% endif %}
{% endfor %}
<div class="block-rel block-oh section-product-featured">
  <div class="grid grid--f flex row-wrap justify-center block-rel">
    <div class="home-Pdp-img block-6/12 cell-l cell-r row--l  @mobile-mobile__block-12/12">
      <div class="swiper home-mySwiper2">
        <div class="swiper-wrapper">
          {% for image in featuredProduct.images %}
          {% assign variantTitles = image.variants | map:'title' | join:' ' %}
          {% unless variantTitles contains '24k' %}
          <div class="swiper-slide" data-imageId="{{image.id}}">  
            <img imgID="{{image.id}}" class="lazyload" data-src="{{ image | product_img_url: '1024x' }}" src="{{ image | product_img_url: '1024x' }}"/>
          </div>
          {% endunless %}
          {% endfor %}
        </div>
      </div>
      <div thumbsSlider="" class="swiper home-mySwiper-thumb">
        <div class="swiper-wrapper">
          {% for image in featuredProduct.images %}
          {% comment %} remove the imagek gold tweezers image {% endcomment %}
          {% assign variantTitles = image.variants | map:'title' | join:' ' %}
          {% unless variantTitles contains '24k' %}
          <div class="swiper-slide" data-imageId="{{image.id}}">
            {% render 'lazy_img', size: '767' ,  _image:image , class:'swiper-lazy block-12/12' %}    
          </div>
          {% endunless %}
          {%endfor%}
        </div>
      </div>

      <script>
        $(function(){
          var swiper = new Swiper(".home-mySwiper-thumb", {
            spaceBetween: 10,
            slidesPerView: 5,
          });
          var swiper2 = new Swiper(".home-mySwiper2", {
            spaceBetween: 10,
            thumbs: {
              swiper: swiper,
            }
          });

          setTimeout(function() {

            $('.home-mySwiper-thumb .swiper-slide').eq(0).removeClass('swiper-slide-thumb-active');
            $('.home-mySwiper-thumb .swiper-slide').eq(3).addClass('swiper-slide-thumb-active');

          }, 1000);


          setTimeout(function() { 

            swiper2.slideTo(3, 200);

          }, 2000);
        })
      </script>
      
    </div>

    <div class="block-6/12 cell-l cell-r row--l  @mobile-mobile__block-12/12 testclass123">
      {% comment %}
      <div class="block-9/12 block-c @mobile-tablet__block-11/12 @mobile-mobile__block-12/12">
        <h2 class="h-style h1-style row--s">{{featuredProduct.title}}</h2>
        <div class="flex row-wrap align-center justify-space row--m">
          <a href="/products/balls-electric-trimmer#reviews"><span class="stamped-product-reviews-badge stamped-main-badge" 
                                                                   data-id="{{ featuredProduct.id }}" 
                                                                   data-product-sku="{{ featuredProduct.handle }}">{{ featuredProduct.metafields.stamped.badge }}</span>
          </a>
        </div>
        <div class="rte-content row--m">
          <p>{{block.paragraph}}</p>
        </div>
        <div class="block-12/12">
          <a href="{{featuredProduct.url}}" class="btn btn--accent block-12/12 d-iblock">{{ 'general.view_product' | t }}</a>
        </div> 
      </div>
      {% endcomment %}

      {% render 'product__form_home' , product:featuredProduct %}

    </div>
    <hr class="custom-hr">
  </div>
</div>

<style>
  .section-product-featured .swiper.home-mySwiper2 {
    overflow: hidden;
  }
  .section-product-featured {
    padding-top: 75px;
  }
  .home-Pdp-img .home-mySwiper-thumb {
    margin-top: 12px;
    overflow: hidden;
  }

  .home-Pdp-img .home-mySwiper-thumb .swiper-wrapper .swiper-slide {
    border: 1px solid #ccc;
    cursor: pointer;
  }
  .home-Pdp-img .home-mySwiper-thumb .swiper-wrapper .swiper-slide.swiper-slide-thumb-active {
    border: 1px solid #145db9;
  }
  .payment-icon {
    margin-top: 20px;
  }
  .payment-icon ul li {
    margin-right: 5px;
  }
  .section-product-featured h1.h1-style {
    color: #000;
    font-weight: 700;
  }
  .section-product-featured .prod-bar-info {
    display: none!important;
  }
  a.View-pdp-btn {
    padding: 5px 10px;
    color: #fff;
    background-color: #145db9;
    border-radius: 8px;
  }
  a.View-pdp-btn:hover {
    background-color: #000;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }

  @media only screen and (min-width: 1025px) {
    .home-Pdp-img {
      position: relative;
      padding-left: 110px;
    }
    .home-Pdp-img .home-mySwiper-thumb {
      position: absolute;
      left: 20px;
      top: 0;
      width: 75px;
      overflow: hidden;
      z-index: 2;
    }
    .home-Pdp-img .home-mySwiper-thumb .swiper-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      transform: none!important;
    }
    .home-Pdp-img .home-mySwiper-thumb .swiper-wrapper .swiper-slide {
      width: 100%!important;
      max-width: 100%;
      margin: 0 0 15px!important;
    }
    .home-Pdp-img .home-mySwiper-thumb {
      margin-top: 0;
    }

  }

  @media only screen and (max-width: 991px) {
    .payment-icon ul {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .payment-icon ul li:first-child {
      display: block;
      width: 100%;
      text-align: center;
      margin: 10px 0 20px;
    }
    .product .payment-icon ul li:first-child {
      display: none;
    }

  }

  @media only screen and (max-width: 767px) {
    .section-product-featured {
      padding-top: 35px;
    }
    .section-product-featured .home-Pdp-img {
      margin-bottom: 30px;
    }
    .section-product-featured h1.h1-style {
      text-align: center;
    }
    .section-product-featured .stamped-badge,
    .section-product-featured .rte-content {
      text-align: center;
    }
    a.View-pdp-btn {
      padding: 7px 12px;
      font-size: 22px;
    }
    .payment-icon ul li:first-child {
      margin: 10px 0 30px;
    }

  }

</style>

{% schema %}
  {
  "name":"Section Product Home",
    "settings":[ 
      { 
        "type":"product",
        "id":"product",
        "label":"product"
      }
    ]
  }
{% endschema %}
