<div class="header-text">
  <div class="grid grid--f text-center">
    <h2 class="head-h2">{{ section.settings.title}}</h2>
    <img class="trustpilot-img" src="{{ 'trustpilot-img.jpg' | file_url }}" alt="" />
    <p>{{ section.settings.text}}</p>
  </div>
</div>
<div class="block-reviews d-flex flex-nowrap grid grid--f flex row-wrap block-rel">
  <div id="Trust-reviews-swiper" class="swiper-container">
    <div class="swiper-wrapper">
      {% for block in section.blocks %}
      <div class="swiper-slide reviews-item block-4/12 @mobile-mobile__block-12/12">
        <div class="grid grid--f flex row-wrap block-rel">
          <div class="reviews-box">
            <a href="{{ block.settings.link}}">
              <div class="customer-img">
                <img src="{{ block.settings.image | img_url: '' }}" alt="" />
              </div>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="swiper-pagination"></div>
  </div>
</div>


<script>

  $(document).ready(function() {
    // Swiper: Slider
    new Swiper('#Trust-reviews-swiper', {
      loop: false,
      slidesPerView: 3,
      spaceBetween: 20,
      pagination: {
        el: '.swiper-pagination',
        type: 'bullets',
        clickable: true,
      },
      breakpoints: {
        1920: {
          slidesPerView: 3,
        },
        1028: {
          slidesPerView: 2,

        },
        640: {
          slidesPerView: 1,
          spaceBetween: 20,

        }
      }
    });
  });

</script>

<style>
  .section-trustpilot {
    padding-bottom: 55px;
  }
  #Trust-reviews-swiper {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 1000px;
    padding-left: 20px;
    padding-right: 20px;
  }
  #Trust-reviews-swiper .swiper-pagination {
    bottom: 0;
  }
  .trustpilot-img {

  }
  .section-trustpilot .header-text {
    text-align: center;
  }
  .section-trustpilot .header-text .head-h2 {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 0;
    color: #000;
  }
  .section-trustpilot .header-text img.trustpilot-img {
    width: 100%;
    display: block;
    max-width: 300px;
    margin: 20px auto 0;
    height: auto;
  }
  .section-trustpilot .reviews-box {
    text-align: center;
    display: block;
    margin: 0 auto;
  }
  .section-trustpilot .reviews-box a {
    display: block;
  }
  .section-trustpilot .reviews-box .customer-img {
    padding-top: 10px;
  }
  .section-trustpilot .reviews-box .customer-img img {
    display: block;
    width: 100%;
    height: auto;
    max-width: 350px;
    margin: 0 auto;
    box-shadow: 0px 0px 5px rgb(0 0 0 / 30%);
  }


  @media only screen and (min-width: 1029px) {
    #Trust-reviews-swiper .swiper-pagination {
      display: none;
    }

  }

  @media only screen and (min-width: 992px) {

  }

  @media only screen and (max-width: 767px) {
    .section-trustpilot .block-reviews {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
    }
    .section-trustpilot .reviews-box {
      max-width: 320px;
    }
    .section-trustpilot .header-text .head-h2 {
      font-size: 42px;
      line-height: 44px;
      padding: 0 15px;
    }
    .section-trustpilot .block-reviews .reviews-item {
      margin-bottom: 20px;
    }
    .section-trustpilot .header-text .grid {
      margin-bottom: 0px;
    }
  }


</style>

{% schema %}
{
"name": "Section Trustpilot",
"class": "section-trustpilot",
"max_blocks": 3,
"settings": [
{
"type": "text",
"id": "title",
"label": "Header"
},
{
"type": "textarea",
"id": "text",
"label": "SubText"
}
],
"blocks": [
{
"name": "Block",
"type": "Block",
"settings": [
{
"type": "image_picker",
"id": "image",
"label": "Image"
}
]
}
]
}
{% endschema %}

