<div class="header-reasons">
  <div class="header-wr">
    <p>Don’t balls it up!</p>
    <h1>5 reasons why you need a BALLS™ Trimmer</h1>
    <p>No nicks, no cuts: just balls as smooth as you are</p>
  </div>
</div>
<div class="image-with-text-cus">
  <div class="grid grid--f flex row-wrap align-center justify-center row--l">
    <div class="col-text block-6/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <div class="wr-text">
        <span class="label-reason">Reason 1</span>
        <h3 class="title-reason">You can FINALLY stop nicking your nuts with dodgy trimmers</h3>
        <p>Your balls are too precious for cuts and nicks, which is why we developed our SackSafe™ Technology. Unlike standard beard trimmers, scissors and razors, our unique design glides over those bad boys and guarantees a painless trim. Just how it should be.</p>
      </div>
    </div>
    <div class="col-image block-6/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <img class="" src="{{ 'StrugglingImg.jpg' | asset_url }}" alt/> 
    </div>
  </div>
  <div class="order-image grid grid--f flex row-wrap align-center justify-center row--l">
    <div class="col-image block-6/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <img class="" src="{{ 'BallsTrimmerImg.jpg' | asset_url }}" alt/> 
    </div>
    <div class="col-text block-6/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <div class="wr-text">
        <span class="label-reason">Reason 2</span>
        <h3 class="title-reason">Banging balls are bangable balls</h3>
        <p>A massive 92% of people prefer their partner to be shaved and groomed down there, rather than hairy and unkempt. And you know what they say: trimming the hedge makes the tree stand taller and all that *wink wink*.</p>
      </div>
    </div>
  </div>
  <div class="grid grid--f flex row-wrap align-center justify-center row--l">
    <div class="col-text block-6/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <div class="wr-text">
        <span class="label-reason">Reason 3</span>
        <h3 class="title-reason">Nick your sack, send it back</h3>
        <p>We’re proud of our honest reputation and always stay true to our word. If you experience any ballsack damage, just contact us and we’ll offer you a full refund—we’re THAT confident in our SackSafe™ Technology. What can we say, we like happy balls.</p>
        <a href="/products/balls-electric-trimmer" class="btn btn--fancy d-iblock btn-cus-shop">Shop Now</a>
      </div>
    </div>
    <div class="col-image block-6/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <img class="" src="{{ 'MoreGuysImg.jpg' | asset_url }}" alt/> 
    </div>
  </div>
</div>
<div class="as-seen-in">
  <h3>As seen in</h3>
  <div class="grid grid--f flex row-wrap align-center justify-center row--l">
    <div class="block-12/12 block-c @mobile-tablet__block-12/12 ct--m cb--m cell-l cell-r t-accent">
      <div class="as-seen-in-logo">
        <div class="as-seen-in-item">
          <span class="wrapper-img">
            <span class="wrapper-img-chill">
              <img class="" src="{{ 'cq_logo_white_trans2.png' | asset_url }}" alt/> 
            </span>
          </span>
        </div>
        <div class="as-seen-in-item">
          <span class="wrapper-img">
            <span class="wrapper-img-chill">
              <img class="" src="{{ 'dazed_3.png' | asset_url }}" alt style=" max-width: 135px;"/> 
            </span>
          </span>
        </div>
        <div class="as-seen-in-item">
          <span class="wrapper-img">
            <span class="wrapper-img-chill">
              <img class="" src="{{ 'lADbible_Logo_2.png' | asset_url }}" alt style=" max-width: 125px;"/> 
            </span>
          </span>
        </div>
        <div class="as-seen-in-item">
          <span class="wrapper-img">
            <span class="wrapper-img-chill">
              <img class="" src="{{ 'daily-mail.png' | asset_url }}" alt style=" max-width: 215px;"/> 
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="image-with-text-cus">
  <div class="grid grid--f flex row-wrap align-center justify-center row--l">
    <div class="col-text block-6/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <div class="wr-text">
        <span class="label-reason">Reason 4</span>
        <h3 class="title-reason">It’s not just <span>for your balls...</span></h3>
        <p>Yep, from your balls to your bum—you can pretty much use the BALLS Trimmer anywhere on your body. It’s fully waterproof too, so you can use it in the shower too. Clean AND smooth? What a don you are</p>
      </div>
    </div>
    <div class="col-image block-6/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <img class="" src="{{ 'SayByeImg.jpg' | asset_url }}" alt/> 
    </div>
  </div>
  <div class="order-image grid grid--f flex row-wrap align-center justify-center row--l">
    <div class="col-image block-6/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <img class="" src="{{ 'YourConfidenceImg.jpg' | asset_url }}" alt/> 
    </div>
    <div class="col-text block-6/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <div class="wr-text">
        <span class="label-reason">Reason 5</span>
        <h3 class="title-reason">Say bye to sweaty swamp balls</h3>
        <p>Summer vibes? Let’s not lie, pubes can get really sweaty during a heatwave, so a lot of men prefer to keep their balls neat and tidy for the simple reason it feels more hygienic. A bit of manscaping with the BALLS Trimmer will sort you right out—no sweat (literally)</p>
      </div>
    </div>
  </div>
  <div class="grid grid--f flex row-wrap align-center justify-center row--l">
    <div class="col-text block-6/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <div class="wr-text">
        <h3 class="title-reason">Get a free bottle of BALLS™ lotion with your first order</h3>
        <p>Getting your nuts on fleek is all about the aftercare—and we’ve got just the lotion to make your balls smell amazing all day long, and stay sweat-free. Order today and we’ll throw in a free bottle of BALLS™ lotion AND free shipping. Boom.</p>
      </div>
    </div>
    <div class="col-image block-6/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <img class="" src="{{ 'NickYourImg.jpg' | asset_url }}" alt/> 
    </div>
  </div>
</div>
<div class="testimonials-reasons ">
  <div class="grid grid--f flex row-wrap align-top justify-center ">
    <div class="testimonials-item  block-3/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <div class="reviews">
        <span class="star-review">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <p class="author">Steve</p>
      </div>
      <p>Wow, received mine today so had to give it a try, brilliant piece of kit all nice n smooth down there now and as it says not a single nick, would advice taking it slow as it says in instructions keeping the skin taut</p>
      <h6 class="date">07/07/2020</h6>
    </div>
    <div class="testimonials-item  block-3/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <div class="reviews">
        <span class="star-review">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <p class="author">Braedon R.</p>
      </div>
      <p>I can honestly say, this is by far the best manscaping tool out there. I have the lawnmower 2.0, and this one is so much better. I can finally shave below the belt feeling confident that I won’t get any cuts or knicks!</p>
      <h6 class="date">07/07/2020</h6>
    </div>
    <div class="testimonials-item  block-3/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <div class="reviews">
        <span class="star-review">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <p class="author">Alex C.</p>
      </div>
      <p>Overall, very impressed with this! Had a few cuts but probably down to getting used to it. I travel a lot so a little travel pouch to put in my wash bag would have been a good addition!</p>
      <h6 class="date">06/05/2020</h6>
    </div>
    <div class="testimonials-item  block-3/12 cell-l cell-r row--l block-rel @mobile-mobile__block-12/12">
      <div class="reviews">
        <span class="star-review">
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
          <i class="fa fa-star" aria-hidden="true"></i>
        </span>
        <p class="author">Ben S.</p>
      </div>
      <p>I think they are a great compact trimmer and love the whole concept and branding! However, without the guard, they are not exactly as you claim but still better than any other I have used </p>
      <h6 class="date">06/05/2020</h6>
    </div>
  </div>
</div>
<div class="endpage-reasons">
  <img class="" src="{{ 'bground.jpg' | asset_url }}" alt/> 
  <div class="wr-end">
    <h3>Get free express shipping today with your first order</h3>
    <p>Want your BALLS Trimmer faster than you can say ‘in great balls, we stan’? Place your first order with us today and we’ll throw in free express tracked shipping, so you can deal with your hairy balls in record time. We’re not saying you’ll make it into the Guinness World Records or anything… but your balls will look great.</p>
    <a href="/products/balls-electric-trimmer" class="btn btn--fancy d-iblock">Shop Now</a>
  </div>
</div>

<style>
  .header-reasons{
    display: block;
    width: 100%;
    background: #0E6CC9;
    position: relative;
    color: #fff;
    text-align: center;
    padding: 60px 20px 45px;
    margin-bottom: 70px;
  }
  .header-reasons .header-wr{
  }
  .header-reasons .header-wr p{
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 285px;
  }
  .header-reasons .header-wr h1{
    font-style: normal;
    font-weight: bold;
    font-size: 56px;
    line-height: 73px;
    text-align: center;
    color: #FFFFFF;
    display: block;
    margin: 50px auto;
    width: 100%;
    max-width: 700px;
  }
  .image-with-text-cus{
  }
  .image-with-text-cus .col-text{
  }
  .image-with-text-cus .col-text .wr-text{
  }
  .image-with-text-cus .col-text .wr-text span.label-reason{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 137%;
    text-transform: uppercase;
    color: #015DB9;
    display: block;
  }
  .image-with-text-cus .col-text .wr-text h3{
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 120%;
    font-feature-settings: 'ss03' on;
    color: #015DB9;
    margin: 20px 0 30px;
    display: block;
  }
  .image-with-text-cus .col-text .wr-text h3 span{
    display:block;
  }
  .image-with-text-cus .col-text .wr-text p{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    display: block;
    color: #444444;
    width: 100%;
    max-width: 595px;
  }
  .image-with-text-cus .col-image{
  }
  .image-with-text-cus .col-image img{
    display: block;
    width: 100%;
  }
  .as-seen-in{
    display: block;
    background: #015DB9;
    text-align: center;
    color: #fff;
    padding: 75px 15px 0px;
    margin-bottom: 70px;
  }
  .as-seen-in h3{
    font-style: normal;
    font-weight: bold;
    font-size: 72px;
    line-height: 110%;
    text-transform: uppercase;
    font-feature-settings: 'ss03' on;
    color: #FFFFFF;
    display: block;
    margin: 0;
    margin-bottom: 35px;
  }
  .as-seen-in .as-seen-in-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, .2);
    border-right: none;
    margin-bottom: 35px;
  }
  .as-seen-in .as-seen-in-logo .as-seen-in-item{
    border-right: 1px solid rgba(255, 255, 255, .2);
    width: 25%;
    float: left;
  }
  .as-seen-in .as-seen-in-logo .as-seen-in-item .wrapper-img{
    display: block;
    height: 100%;
    opacity: 1;
    overflow: hidden;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
  }
  .as-seen-in .as-seen-in-logo .as-seen-in-item .wrapper-img-chill{
    height: 100%;
    left: 50%;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
  }
  .as-seen-in .as-seen-in-logo .as-seen-in-item img{
    display: block;
    margin: 0 auto;
    max-width: 85px;
    height: 100%;
    object-fit: contain;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
  }
  .testimonials-reasons{
    background: rgb(240 236 228 / 0.15);
    display: block;
    padding-bottom: 30px;
    padding-top: 40px;
  }

  .testimonials-reasons .testimonials-item .reviews .star-review i{
    color: #015DB9;
    font-size: 10px;
    display: inline-block;
    width: 8px;
  }
  .testimonials-reasons .testimonials-item .reviews .star-review i:before{
    font-size: 10px;
  }
  .testimonials-reasons .testimonials-item .author{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 135%;
    color: #444444;
    display: inline-block;
    margin-left: 16px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .testimonials-reasons .testimonials-item p{
    font-style: normal;
    font-weight: normal;
    line-height: 135%;
    text-align: justify;
    color: #444444;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .testimonials-reasons .testimonials-item .date{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 135%;
    color: #444444;
    opacity: 0.6;
    margin: 0;
  }
  .endpage-reasons{
    background: #015DB9;
  }
  .endpage-reasons{
    display: block;
    position: relative;
    margin-bottom: 70px;
  }

  .endpage-reasons img{
    display: block;
    position: relative;
    width: 100%;
  }
  .endpage-reasons .wr-end{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    max-width: 750px;
    text-align: center;
    background: #015DB9;
  }
  .endpage-reasons .wr-end h3{
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 120%;
    font-feature-settings: 'ss03' on;
    color: #FFFFFF;
    display: block;
    text-align: center;
    width: 100%;
    margin: 0;
    margin-bottom: 40px;
  }
  .endpage-reasons .wr-end p{
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    margin-bottom: 45px;
    /* White */

    color: #FFFFFF;
  }
  .endpage-reasons .wr-end a{
    border: none;
  }
  .endpage-reasons .wr-end a:after{
    border: 1px solid rgba(255, 255, 255, .7);
  }
  .btn-cus-shop{
    margin-top: 40px;
  }
  @media only screen and (max-width: 1366px) {
    .endpage-reasons img {
      min-height: 585px;
      object-fit: cover;
      object-position: center;
    }

  }
  @media only screen and (max-width: 1199px) {
    .image-with-text-cus .col-text .wr-text h3 {
      font-size: 44px;
      line-height: 120%;
      margin: 20px 0 30px;
    }
    .image-with-text-cus .col-text .wr-text p {
      font-size: 17px;
      line-height: 24px;
      max-width: 595px;
    }
    .as-seen-in h3 {
      font-size: 50px;
      line-height: 110%;
      margin-bottom: 0px;
    }
    .endpage-reasons .wr-end h3 {
      font-size: 48px;
      line-height: 120%;
      margin-bottom: 30px;
    }
    .endpage-reasons .wr-end p {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 40px;
    }
    .endpage-reasons img {
      min-height: 500px;
      object-fit: cover;
      object-position: center;
    }


  }
  @media only screen and (max-width: 991px) {

    .header-reasons .header-wr h1 {
      font-size: 44px;
      line-height: 56px;
      margin: 35px auto;
      max-width: 550px;
    }
    .image-with-text-cus .col-text .wr-text span.label-reason {
      font-size: 18px;
      line-height: 137%;
    }
    .image-with-text-cus .col-text .wr-text h3 {
      font-size: 33px;
      line-height: 120%;
      margin: 16px 0 24px;
      max-width: 345px;
    }
    .image-with-text-cus .col-text .wr-text p {
      font-size: 15px;
      line-height: 21px;
      max-width: 595px;
    }
    .as-seen-in h3 {
      font-size: 44px;
      line-height: 110%;
      margin-bottom: 0px;
    }
    .as-seen-in .as-seen-in-logo .as-seen-in-item {
      width: 25%;
      padding: 10px;
    }
    .endpage-reasons .wr-end h3 {
      font-size: 42px;
      line-height: 120%;
      margin-bottom: 30px;
    }
    .endpage-reasons .wr-end p {
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 40px;
    }
    .endpage-reasons .wr-end {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      width: 100%;
      max-width: 640px;
      text-align: center;
      background: #015DB9;
    }
  }
  @media only screen and (max-width: 991px) and (min-width: 768px){

    .testimonials-reasons .testimonials-item{
      width: 50%;
    }

  }
  @media only screen and (max-width: 767px) {
    .header-reasons .header-wr h1 {
      font-size: 37px;
      line-height: 48px;
      margin: 55px auto;
      max-width: 455px;
    }
    .header-reasons {
      padding: 55px 20px 55px;
      margin-bottom: 60px;
    }
    .image-with-text-cus .col-text .wr-text h3 {
      font-size: 37px;
      line-height: 110%;
      margin: 18px 0 30px;
      max-width: 100%;
    }
    .image-with-text-cus .col-text .wr-text span.label-reason {
      font-size: 20px;
      line-height: 137%;
    }
    .image-with-text-cus .col-text .wr-text p {
      font-size: 16px;
      line-height: 21px;
      max-width: 100%;
    }
    .image-with-text-cus .order-image{
      flex-direction: column;
    }
    .image-with-text-cus .order-image .col-image{
      order: 2;
    }
    .image-with-text-cus .order-image .col-text{
      order: 1;
    }
    .image-with-text-cus .col-image {
      margin-bottom: 0;
    }
    .image-with-text-cus .col-text {
      margin-bottom: 30px;
    }
    .btn-cus-shop {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .as-seen-in .as-seen-in-logo {
      display: inline-block;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(255, 255, 255, .2);
      border-right: none;
      margin-bottom: 35px;
      width: 100%;
      border-bottom: none;
    }
    .as-seen-in .as-seen-in-logo .as-seen-in-item {
      width: 50%;
      border-bottom: 1px solid rgba(255, 255, 255, .2);
      padding: 10px;
      display: inline-block;
      -ms-flex: 0 0 33.33%;
      flex: 0 0 50%;
      max-width: 50%;
      position: relative;
    }
    .as-seen-in h3 {
      font-size: 50px;
      line-height: 110%;
      margin-bottom: 0px;
    }
    .endpage-reasons .wr-end h3 {
      font-size: 37px;
      line-height: 110%;
      margin-bottom: 34px;
    }
    .endpage-reasons .wr-end {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0%,0%);
      -webkit-transform: translate(0%,0%);
      -moz-transform: translate(0%,0%);
      -o-transform: translate(0%,0%);
      -ms-transform: translate(0%,0%);
      width: 100%;
      max-width: 600px;
      text-align: center;
      background: #015DB9;
      padding: 60px 20px;
      display: block;
      margin: 0 auto;
    }
    .endpage-reasons img {
      display: none;
    }


  }
  @media only screen and (max-width: 639px) {
    .header-reasons .header-wr h1 {
      font-size: 37px;
      line-height: 48px;
      margin: 55px auto;
      max-width: 405px;
    }

  }
  @media only screen and (max-width: 479px) {

  }
  @media only screen and (max-width: 400px) {
    .endpage-reasons .wr-end h3 {
      font-size: 32px;
      line-height: 110%;
      margin-bottom: 34px;
    }
.image-with-text-cus .col-text .wr-text h3 {
    font-size: 32px;
    line-height: 110%;
    margin: 18px 0 30px;
    max-width: 100%;
}
  }
  @media only screen and (max-width: 359px) {
    .header-reasons .header-wr h1 {
      font-size: 34px;
      line-height: 44px;
    }
    .image-with-text-cus .col-text .wr-text h3 {
      font-size: 28px;
      line-height: 110%;
      margin: 18px 0 30px;
      max-width: 100%;
    }
    .image-with-text-cus .col-text .wr-text span.label-reason {
      font-size: 18px;
      line-height: 133%;
    }
    .as-seen-in h3 {
      font-size: 38px;
      line-height: 110%;
      margin-bottom: 0px;
    }
    .endpage-reasons .wr-end h3 {
      font-size: 28px;
      line-height: 110%;
      margin-bottom: 34px;
    }
  }

</style>